footer {
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: end;

    .sobreNos {
        color: white;
        font-size: 20px;
        text-decoration: none;
    }

    .sobreNos :hover {
        color: rgb(132, 50, 165);
    }

    .redes {

        .logoRedes {
            font-size: 250%;
            color: white;
            text-decoration: none;
        }
    }

    .redes :hover {
        color: rgb(132, 50, 165);
    }

    .copyright {
        color: white;
        font-size: 20px;
    }
}

/* media querie mobile */
@media only screen and (max-width: 600px) {

    footer {
        background-color: black;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .redes {
            margin-left: 3%;
            font-size: 50%;
        }

        .sobreNos {
            font-size: 10px;

            p {
                margin-bottom: 0;
            }
        }

        .copyright {
            margin-right: 3%;
            font-size: 50%;

            margin-bottom: 0;

        }
    }
}