
header{
    .navbar{
        background-color: black;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 216px 40px;
        grid-template-areas: "nombre"
                             "navBar";
        .logoNombre{
            grid-area: nombre;
            justify-self: center;
            
            .logo{
                width: 180px;
                height: 150px;
            }
        }
        .container-fluid{
            grid-area: navBar;
            
                .navbar-nav{
                    display: flex;
                    justify-content: space-around;
                    width: 100%;
                }
            
    
        }
    
    }


}
/* media querie mobile */
@media only screen and (max-width: 600px){
   .navbar{
       height: 350px;
   }
}









