
.barraNavegacion{
    position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 100;
    .navbar{
        background-color: black;
        
        display: flex;
        
        .container-fluid{
            
            align-items: flex-end;
            .logoNombre{
                a{
                    text-decoration: none;
                    h1{
                        color: rgb(77, 70, 75);
                        font-size: 90%;
                    }
                }
            }
            .navbar-collapse{
                
                .navbar-nav{
                    display: flex;
                    justify-content:space-around;
                    width: 100%;
                }
            }
        }
    }
}
