* {
  margin: 0;
  padding: 0; }

.barraNavegacion {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100; }
  .barraNavegacion .navbar {
    background-color: black;
    display: flex; }
    .barraNavegacion .navbar .container-fluid {
      align-items: flex-end; }
      .barraNavegacion .navbar .container-fluid .logoNombre a {
        text-decoration: none; }
        .barraNavegacion .navbar .container-fluid .logoNombre a h1 {
          color: #4d464b;
          font-size: 90%; }
      .barraNavegacion .navbar .container-fluid .navbar-collapse .navbar-nav {
        display: flex;
        justify-content: space-around;
        width: 100%; }

body {
  background-color: #6d6b6b;
  margin-top: 140px; }
  body .carousel-inner {
    padding: 5%; }
  body .clasesHome {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px; }
    body .clasesHome img {
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.7); }
    body .clasesHome img:hover {
      width: 110%;
      height: 110%; }
  body .texto {
    display: flex;
    justify-content: space-around; }
    body .texto .articulo {
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
      background-color: #948d91;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      text-align: justify;
      margin: 5px;
      padding: 15px; }
      body .texto .articulo h3 {
        text-align: center;
        text-decoration: underline; }
    body .texto .aside {
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
      background-color: #444444;
      color: white;
      margin: 5px;
      padding: 15px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      text-align: justify; }
      body .texto .aside h3 {
        text-align: center;
        text-decoration: underline; }
  body .iconoWhatsapp {
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: #8432a5;
    font-size: 300%; }

@media only screen and (max-width: 992px) {
  .clasesHome {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 700px;
    margin-bottom: 30px; }
  .texto {
    display: flex;
    flex-direction: column;
    justify-content: space-around; } }

.nuestrasClases, .nuestrosHorarios, .cuidados .nuestrosCuidados, .mainProductos .nuestrosProductos, .divContactanos .contactanos, .comoLlegar .tituloComoLlegar {
  background-color: #8432a5;
  color: black;
  text-align: center;
  font-size: 40px;
  width: 100%; }

/* media querie mobile */
@media only screen and (max-width: 600px) {
  .videoClases {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .videoClases .videoUno {
      margin: 10px;
      width: 200px;
      height: 200px; }
    .videoClases .videoDos {
      margin: 10px;
      width: 200px;
      height: 200px; }
    .videoClases .videoTres {
      margin: 10px;
      width: 200px;
      height: 200px; }
    .videoClases .videoCuatro {
      margin: 10px;
      width: 200px;
      height: 200px; }
    .videoClases .videoCinco {
      margin: 10px;
      width: 200px;
      height: 200px; }
    .videoClases .videoSeis {
      margin: 10px;
      width: 200px;
      height: 200px; } }

/* media querie medio */
@media only screen and (min-width: 600px) {
  .videoClases {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30% 30% 30%;
    justify-items: center;
    align-items: center;
    row-gap: 50px;
    margin-top: 20px;
    margin-bottom: 20px; }
    .videoClases .videoUno {
      width: 250px;
      height: 250px; }
    .videoClases .videoDos {
      width: 250px;
      height: 250px; }
    .videoClases .videoTres {
      width: 250px;
      height: 250px; }
    .videoClases .videoCuatro {
      width: 250px;
      height: 250px; }
    .videoClases .videoCinco {
      width: 250px;
      height: 250px; }
    .videoClases .videoSeis {
      width: 250px;
      height: 250px; } }

/* media querie grande */
@media only screen and (min-width: 992px) {
  .videoClases {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30% 30% 30%;
    justify-items: center;
    align-items: center;
    row-gap: 50px;
    margin-top: 20px; }
    .videoClases .videoUno {
      width: 450px;
      height: 450px; }
    .videoClases .videoDos {
      width: 450px;
      height: 450px; }
    .videoClases .videoTres {
      width: 450px;
      height: 450px; }
    .videoClases .videoCuatro {
      width: 450px;
      height: 450px; }
    .videoClases .videoCinco {
      width: 450px;
      height: 450px; }
    .videoClases .videoSeis {
      width: 450px;
      height: 450px; } }

.tablaHorarios {
  padding: 20px; }

.cuidados {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .cuidados .imgProtocolo {
    width: 60%;
    height: 50%;
    padding: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    margin-bottom: 10px; }

/* media querie mobile */
@media only screen and (max-width: 992px) {
  .tablaHorarios {
    overflow: scroll;
    padding: 20px; }
  .tablaHorarios {
    padding: 20px; }
  .cuidados .imgProtocolo {
    width: 90%;
    height: 80%; } }

.mainProductos {
  background-color: #6d6b6b;
  /* media querie mobile */
  /* media querie medio */
  /* media querie grande */ }
  @media only screen and (max-width: 600px) {
    .mainProductos .productos {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .mainProductos .productos .card {
        margin: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.7); } }
  @media only screen and (min-width: 600px) {
    .mainProductos .productos {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 20% 20% 20% 20% 20%;
      justify-items: center;
      align-items: center;
      margin-top: 10px;
      margin-bottom: 10px; }
      .mainProductos .productos .card {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
        margin: 10px; } }
  @media only screen and (min-width: 992px) {
    .mainProductos .productos {
      display: grid;
      grid-template-columns: 30% 30% 30%;
      grid-template-rows: 30% 30% 30%;
      justify-items: center;
      align-items: center;
      row-gap: 50px;
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: 10%; }
      .mainProductos .productos .card {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.7); } }

.divContactanos {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }
  .divContactanos .formularioContacto {
    width: 500px; }
    .divContactanos .formularioContacto .formContacto {
      display: grid;
      grid-template-columns: 45% 45%;
      grid-template-rows: 10% 10% 20% 10% 10%;
      grid-template-areas: "nombre apellido" "mail telefono" "consulta consulta" "checkbox aceptoT" "reset enviar";
      width: 500px; }
      .divContactanos .formularioContacto .formContacto .nombre {
        grid-area: nombre;
        font-size: 25px;
        font-family: Verdana;
        background-color: #ad9bac; }
      .divContactanos .formularioContacto .formContacto .apellido {
        grid-area: apellido;
        font-size: 25px;
        font-family: Verdana;
        background-color: #ad9bac; }
      .divContactanos .formularioContacto .formContacto .mail {
        grid-area: mail;
        font-size: 25px;
        font-family: Verdana;
        background-color: #ad9bac; }
      .divContactanos .formularioContacto .formContacto .telefono {
        grid-area: telefono;
        font-size: 25px;
        font-family: Verdana;
        background-color: #ad9bac; }
      .divContactanos .formularioContacto .formContacto .consulta {
        grid-area: consulta;
        font-size: 25px;
        font-family: Verdana;
        background-color: #ad9bac; }
      .divContactanos .formularioContacto .formContacto .checkbox {
        grid-area: checkbox; }
      .divContactanos .formularioContacto .formContacto .aceptoT {
        grid-area: aceptoT; }
      .divContactanos .formularioContacto .formContacto .reset {
        grid-area: reset;
        font-size: 25px;
        font-family: Verdana;
        background-color: #ec5959; }
      .divContactanos .formularioContacto .formContacto .enviar {
        grid-area: enviar;
        font-size: 25px;
        font-family: Verdana;
        background-color: #60f078; }

.comoLlegar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }
  .comoLlegar .mapa {
    position: relative;
    top: 40px;
    height: 400px;
    width: 70%; }

footer {
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: end; }
  footer .sobreNos {
    color: white;
    font-size: 20px;
    text-decoration: none; }
  footer .sobreNos :hover {
    color: #8432a5; }
  footer .redes .logoRedes {
    font-size: 250%;
    color: white;
    text-decoration: none; }
  footer .redes :hover {
    color: #8432a5; }
  footer .copyright {
    color: white;
    font-size: 20px; }
